table(align='center' cellpadding='0' cellspacing='0' border='0' width='100%' bgcolor='#f0f0f0')
  tr
    td(style='padding: 30px 30px 20px 30px;')
      table(cellpadding='0' cellspacing='0' border='0' width='100%' bgcolor='#ffffff' style='max-width: 650px; margin: auto;')
        tr
          td(colspan='2' align='center' style='background-color: #333; padding: 40px;')
        tr
          td(style='text-align: left; padding: 0px 50px;' valign='top')
            p(style="font-size: 18px; margin: 0; line-height: 24px; font-family: 'Nunito Sans', Arial, Verdana, Helvetica, sans-serif; color: #666; text-align: left; padding-bottom: 3%;")
              | Hi #{firstName},
            p(style="font-size: 18px; margin: 0; line-height: 24px; font-family: 'Nunito Sans', Arial, Verdana, Helvetica, sans-serif; color: #666; text-align: left; padding-bottom: 3%;")
              | Please use this one time password 
              br
            h1 #{url}
            br
            |  to sign in to your application
        tr
          td(style='text-align: left; padding: 30px 50px 50px 50px' valign='top')
            p(style="font-size: 18px; margin: 0; line-height: 24px; font-family: 'Nunito Sans', Arial, Verdana, Helvetica, sans-serif; color: #505050; text-align: left;")
              | Thanks,
              br
        tr
          td(colspan='2' align='center' style='padding: 20px 40px 40px 40px;' bgcolor='#f0f0f0')
            p(style="font-size: 12px; margin: 0; line-height: 24px; font-family: 'Nunito Sans', Arial, Verdana, Helvetica, sans-serif; color: #777;")
              | &copy; 2018
              a(href='http://wso2.com/' target='_blank' style='color: #777; text-decoration: none') WSO2
              br
              |                         787 Castro Street, Mountain View, Noida 94041.
