html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/maid.css')
    title=title
  body
    p=purpose
    a.maidlogout logout
    br
    br
    br

    a(href='/updateInformation') Enter your Information
script(src="/js/bundle.js")   
script(src='https://js.stripe.com/v3/')  
    