doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  title Reset-password
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')
  style.
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    body {
    font-family: 'Roboto', sans-serif;
    }
    .login-container {
    height: 100vh;
    width: 100%;
    }
    .Reset-form {
    max-width: 100%;
    width: 450px;
    padding: 15px;
    margin: auto;
    }
    .Reset-form h2 {
    color: #206A5D;
    }
    .form-control {
    display: block;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2;
    border-color: #adadad;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 5px;
    color: #495057;
    height: auto;
    border-radius: 0px;
    background-color: #fff;
    background-clip: padding-box;
    }
    .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #206A5D;
    outline: 0;
    box-shadow: none;
    }
    .killer {
    color: #020a0eaf;
    font-size: 16px;
    }
    .Reset-form a {
    text-decoration: none;
    }
    .R-form a:hover {
    color: #206A5D;
    }
    .form-text {
    color: #041c2494;
    font-size: 12px;
    }
    .forgot-link {
    color: #206A5D;
    font-size: 15px;
    }
    .forgot-link a {
    color: #206A5D;
    font-size: 15px;
    }
    .btn-custom {
    background-color: #206A5D;
    color: white;
    border-color: #206A5D;
    min-height: 30px;
    }
    .btn-custom:focus,
    .btn-custom:hover,
    .btn-custom:active,
    .btn-custom:active:focus {
    background-color: #1a5b50;
    color: white;
    }
    .form-check-input:checked {
    background-color: #206A5D;
    border-color: #206A5D;
    }
    .read {
    font-size: 13.5px;
    margin-bottom: 4rem;
    color: #041c2456;
    }
    .field-icon{
    position: relative;
    float: right;
    /* right: 15px; */
    margin-top: -30px;
    margin-right: 3px;
    color: #a7a7a8;
    }
    #hide1{
    display: none;
    }
    #hide3{
    display: none;
    }
// container
.login-container.d-flex.justify-content-center.align-items-center
  form.Reset-form
    // signin-text
    h2.mb-3.font-weight-light.d-flex.justify-content-start Reset Password
    .d-flex.justify-content-start.read
      | Set the new password for your account so you can access the
      | all feature.
    .form-group.mb-4
      label.d-flex.align-items-center.justify-content-between.killer(for='inputnumber') Enter-OTP
      input#inputnumber.form-control(type='number' name='number')
    .form-group.mb-4
      label.d-flex.align-items-center.justify-content-between.killer(for='inputpassword1') Password
      input#inputpassword1.form-control(type='password')
      span.field-icon(onclick='myfunction()')
        i#hide3.fas.fa-eye
        i#hide4.fas.fa-eye-slash
    .form-group.mb-4
      label.d-flex.align-items-center.justify-content-between.killer(for='inputpassword2') Confirm-Password
      input#inputpassword2.form-control(type='password')
      span.field-icon(onclick='myfunctionx()')
        i#hide1.fas.fa-eye
        i#hide2.fas.fa-eye-slash
    .login-form.text-center
      button.btn.mt-3.btn-class.btn-custom.btn-block.rounded-pill.btn-ex-lg.px-5(type='submit')
        | RESET
        | PASSWORD


script(src="/js/bundle.js") 
script(src='https://js.stripe.com/v3/')
