head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  title Login-form
  style.
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    body {
    font-family: 'Roboto', sans-serif;
    }
    .login-container {
    height: 100vh;
    width: 100%;
    }
    .signup-form {
    max-width: 100%;
    width: 400px;
    padding: 15px;
    margin: auto;
    }
    .signup-form h3 {
    color: #206A5D;
    margin-bottom: 50px;
    }
    .form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    border-color: #adadad;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 0px;
    color: #495057;
    height: auto;
    border-radius: 0px;
    background-color: #fff;
    background-clip: padding-box;
    }
    .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #206A5D;
    outline: 0;
    box-shadow: none;
    }
    .killer {
    color: #041c2494;
    font-size: 15px;
    }
    .signup-form a {
    text-decoration: none;
    }
    .signup-form a:hover {
    color: #206A5D;
    }
    .form-text {
    color: #041c2494;
    font-size: 12px;
    }
    p a {
    color: #206A5D;
    font-size: 15px;
    }
    p {
    font-size: 17px;
    color: #0e0d0d94;
    }
    .forgot-link {
    color: #206A5D;
    font-size: 15px;
    }
    .forgot-link a {
    color: #206A5D;
    font-size: 15px;
    }
    .btn-custom {
    background-color: #206A5D;
    color: white;
    border-color: #206A5D;
    min-height: 30px;
    }
    .btn-custom:focus,
    .btn-custom:hover,
    .btn-custom:active,
    .btn-custom:active:focus {
    background-color: #1a5b50;
    color: white;
    }
    .form-check-input:checked {
    background-color: #206A5D;
    border-color: #206A5D;
    }
    #emailHelp {
    font-size: 12px;
    }
// container
.login-container.d-flex.justify-content-center.align-items-center
  form.signup-form.text-center
    // signin-text
    h3.mb-5.font-weight-light.pe-3 Create your account
    .form-group.mb-3
      .row
        .col
          label.d-flex.align-items-center.justify-content-between.killer(for='text')
            | First
            | Name
          input#firstname.form-control(type='text' aria-label='First name')
        .col
          label.d-flex.align-items-center.justify-content-between.killer(for='text')
            | Last
            | Name
          input#lastname.form-control(type='text' aria-label='Last name')
    .form-group.mb-3
      label.d-flex.align-items-center.justify-content-between.killer(for='email') Email-Address
      input#email.form-control(type='email' name='email')
      #emailHelp.form-text We&apos;ll never share your email with anyone else.
    .form-group.mb-3
      label.d-flex.align-items-center.justify-content-between.killer(for='number') Phone-Number
      input#phonenumber.form-control(type='number' name='number')
    .form-group.mb-3
      .row
        .col
          label.d-flex.align-items-center.justify-content-between.killer(for='password') Password
          input#password.form-control(type='password' aria-label='First name')
        .col
          label.d-flex.align-items-center.justify-content-between.killer(for='password') Confirm-Password
          input#passwordConfirm.form-control(type='password' aria-label='Last name')
    button.btn.mt-5.btn-class.btn-custom.btn-block.rounded-pill.btn-ex-lg.px-5(type='submit')
      | Create
      | Account
    p.mt-5
      | Already have an account ?
      a.text-uppercase.ps-2(href='/login') Sign In
  
script(src="/js/bundle.js") 
script(src='https://js.stripe.com/v3/')