doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Maid
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Heebo&display=swap' rel='stylesheet')
  // css link
  link(rel='stylesheet' href='/CSS/maid.css')
section
  .imgbx
    a(href='#') AHlogo
    h2
      | Hire The Experience 
      span
        u MAID
      |                 For Your Home.
    p.p1
      | Press on the option 
      u  Hire a Maid 
      |  and hire for your
      |                 household chores.
    p.p2
      | Press on the option 
      u Maid Register
      |  and add your
      |                 profile so that you can find work in many homes in the coming
      |                 times.
    img(src='/Image/photoshop.webp' alt='')
  .contentbx
    img.cart1(src='/Image/cleaning-cart.png' alt='')
    .heading2
      h3 Welcome
      p
        | Thousands of maid are registered and hired for
        | Household chores.
    .button
      a.button1(href='/login') Hire a Maid
      a.button2(href='/maid-login') Maid Register
footer
  h5 Having troubles?
  u
    a.help(href='#')  Get help 
