doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  title Verification-page
  style.
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    body {
    font-family: 'Roboto', sans-serif;
    }
    .login-container {
    height: 100vh;
    width: 100%;
    }
    .verify-form {
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
    }
    .verify-form h3 {
    color: #206A5D;
    margin-bottom: 5rem;

    }
    .form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    border-color: #adadad;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 0px;
    color: #495057;
    height: auto;
    border-radius: 0px;
    background-color: #fff;
    background-clip: padding-box;
    text-align: center;
    }
    .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #206A5D;
    outline: 0;
    box-shadow: none;
    }
    .killer {
    color: #041c2494;
    font-size: 15px;
    }
    .verify-form a {
    text-decoration: none;
    }
    .verify-form h3{
    margin-bottom: 50px;
    margin-left: 12px;
    }
    .verify-form a:hover {
    color: #206A5D;
    }
    .form-text {
    color: #041c2494;
    font-size: 12px;
    }
    p a {
    color: #206A5D;
    font-size: 15px;
    }
    p {
    font-size: 17px;
    color: #0e0d0d94;
    }
    .forgot-link {
    color: #206A5D;
    font-size: 15px;
    }
    .forgot-link a {
    color: #206A5D;
    font-size: 15px;
    }
    .btn-custom {
    background-color: #206A5D;
    color: white;
    border-color: #206A5D;
    min-height: 30px;
    }
    .btn-custom:focus,
    .btn-custom:hover,
    .btn-custom:active,
    .btn-custom:active:focus {
    background-color: #1a5b50;
    color: white;
    }
    .form-check-input:checked {
    background-color: #206A5D;
    border-color: #206A5D;
    }
    #emailHelp {
    font-size: 12px;
    }
// container
.login-container.d-flex.justify-content-center.align-items-center
  form.verify-form.text-center
    // signin-text
    h3.font-weight-light.pe-3 Please Enter OTP which we sent on #{email}
    .form-group.mb-3
      .row 
        p.mb-4 Email-Verification
        input#inputnumber.form-control(type='number' name='number')
    button.btn.mt-5.btn-class.btn-custom.btn-block.rounded-pill.btn-ex-lg.px-5(type='submit') VERIFY
    p.mt-5
      a#resendCode.text-uppercase.ps-2 Resend code
.bottomdown
script(src="/js/bundle.js") 
script(src='https://js.stripe.com/v3/')